!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
:plain
  <!--[if gt IE 8] -->
%html{lang: "en"}
  /<![endif]
  %head
    %meta{charset: "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %title= data.page.title
    / Included CSS Files
    = stylesheet_link_tag "app", "theme", "ghfm"
    = javascript_include_tag "foundation/modernizr.foundation"
    %link{rel: "alternate", type: "application/rss+xml", title: "RSS Feed", href: "feed.xml"}
  %body{class: page_classes}
    .row
      .twelve.columns
        %nav.top-bar.hide-for-small
          %ul.title-area
            %li.name
              %h1
                %a{href: "/"}= data.site.title           
            %li.toggle-topbar
              %a{href: "#"}
            %section.top-bar-section
              %ul.right
                %li    
                  %a{href: "https://www.twitter.com/rolentle", target: "_blank"}= "Twitter"
                %li    
                  %a{href: "http://www.linkedin.com/pub/rolen-le/b/598/a81", target: "_blank"}="Linkedin"
                %li    
                  %a{href: "https://github.com/rolentle", target: "_blank"}="Github"  
                %li
                  %a{href: "http://rolen-on-rails.herokuapp.com/feed.xml", target: "_blank"}= "RSS"
    .row
      .eight.columns
        = yield
      / Application Javascript, safe to override
      = javascript_include_tag "app"
      %aside.four.columns
        .panel
          - if paginate
            %p
              Page
              = page_number
              of
              = num_pages
        %dl.tabs
          %dd.active
            %a{href: "#recent"} Recent Articles
          %dd
            %a{href: "#tags"} Tags
        %ul.tabs-content
          %li#recentTab.active
            %h4 Recent Articles
            %ul.disc
              - blog.articles[0...10].each do |article|
                %li
                  %a{href: "#{article.url}"}
                    = article.title
                  %span= article.date.strftime('%b %e')
          %li#tagsTab
            %h4 Tags
            %ul.disc
              - blog.tags.each do |tag, articles|
                %li
                  %a{href: "#{tag_path tag}"}
                    = "#{tag} (#{articles.size})"